aiogram==3.17.0
langchain==0.3.17
langchain-groq==0.2.1
langgraph==0.2.69
pydantic==2.10.6
pydantic-settings==2.7.1
python-dotenv==1.0.1
langgraph-checkpoint-sqlite
pydub
openai
langchain-openai<1.0.0
edge-tts
streamlit
langchain-google-genai==2.0.10
langchain-ollama
chromadb
langchain-chroma
langchain-community
docx2txt
pypdf
requests
fastapi
uvicorn
python-multipart
